{% extends "base.html" %}
{% block content %}
    <div class="py-3" id="main">
        <div class="row">
            <div class="col-2 d-flex flex-column w-25">
                <div class="bg-primary text-light p-3 border rounded-4 mb-2 shadow">
                    <h5>Account Balance</h5>
                    <h6>${[accountBalance]}</h6>
                </div>
                <div class="p-3 shadow position-relative h-100 border rounded-4">
                    <h5>Money Insights</h5>
                    <span>
                        {[month_names[month]]}
                    </span>
                    <br><br>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Change in balance</td>
                                <td>{[balanceChange]}</td>
                            </tr>
                            <tr>
                                <td>Money in</td>
                                <td><span class="text-success">{[moneyIn]}</span></td>
                            </tr>
                            <tr>
                                <td>Money out</td>
                                <td><span class="text-danger">{[moneyOut]}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col container shadow border rounded-4 p-3">
                <!--Check whether the submit even listeners conflict-->
                <form id="quickTransfer" @submit.prevent="submit">
                    <!--Must check for onSubmit event listener-->
                    <h5>Quick Transfer</h5>
                    <div class="mb-3">
                    <label for="phoneNumberBAN" class="form-label">Phone Number/ Bank Account Number</label>
                    <input type="text" class="form-control" id="phoneNumberBAN" v-model="form.receiver">
                    </div>
                    <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="text" class="form-control" id="amount" v-model="form.amount">
                    </div>
                    <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" id="category" v-model="form.category">
                        <option>Funds Transfer</option>
                        <option>Income</option>
                        <option>Necessities</option>
                        <option>Transportation</option>
                        <option>Food & Drink</option>
                        <option>Shopping & Entertainment</option>
                        <option>Others</option>
                    </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Transfer</button>
                </form>
            </div>
        </div>

        <div class="row ps-2 py-2">
            <div class="col-6 border shadow p-3 border rounded-4 me-2 h-100">
                <h5>Recent Transaction</h5>
                <table class="table">
                    <tbody v-for="transaction in transactions">
                        <tr>
                            <td>{[transaction.drban]}</td>
                            <td><span :class="{'text-success': transaction.crban == bankID, 'text-danger': transaction.crban != bankID}">{[transaction.txn_amt]}</span></td>
                            <td>{[transaction.txn_time]}</td>
                          </tr>
                    </tbody>
                </table>

            </div>
    
            <div class="col border shadow p-3 border rounded-4 h-100">
                <h5>SplitPay</h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptsCall %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="{{ url_for('static', filename='homepage-vue.js') }}"></script>
{% endblock %}