{% extends "base.html" %}
{% block additionalHeaders %}
    <link rel="stylesheet" href="../static/roboadvisor.css">
{% endblock %}

{% block content %}
    <div class="col chat-container">
        <div id="chat-box" class="chat-box"></div>
        <form id="chat-form" class="chat-form">
        <input type="text" id="chat-input" placeholder="Type a message..." autocomplete="off"/>
        <button type="submit">Send</button>
        </form>
    </div>
{% endblock %}

{% block scriptsCall %}
    <script src="{{ url_for('static', filename='roboadvisor.js') }}"></script>
{% endblock %}