{% for transaction in transactions_dict_full[:8] %}
                    <li class="list-group-item position-relative">
                        {% if transaction.crban == acct_number %}
                            {{ transaction.drban }} 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp 
                            <span class="text-danger">{{ transaction.txn_amt  }}</span>
                            <span class="position-absolute end-0">{{ z }}</span> 
                        {% else %}
                            {{ transaction.crban }} 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp 
                            <span class="text-success">{{ transaction.txn_amt  }}</span>
                            <span class="position-absolute end-0">{{ transaction.txn_time[:10] }}</span>                         {% endif %}
                    </li>
                    {% endfor %}