<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/splitpay.css">
    {% include "heading.html" %}
</head>
<body>
    <div class="row">
        <div class="col-3">
            {% include "navbar.html" %}
        </div>
        <div class="col border">
        <!-- {% block content %} -->
        <!-- {% endblock %} -->
            <h3 style="margin-top:15px;"> Groups </h3>
            <div class="groups">
                <!-- Group 1 -->
                <div class="group">
                    <div class="group-title">
                        Phuket Trip
                        <span class="balance-info">(You owe)</span> 
                        <span class="balance-amount">$80</span>
                    </div>
                    <div class="balance">You owe Member 1 $50</div>
                    <div class="balance">Member 2 owes you $20</div>
                </div>
                <!-- Group 2 -->
                <div class="group">
                    <div class="group-title">
                        Tokyo Trip
                        <span class="balance-info">(You are owed)</span> <!-- Balance information -->
                        <span class="balance-amount">$70</span> <!-- Balance amount -->
                    </div>
                    <div class="balance">You owe Member 1 $50</div>
                    <div class="balance">Member 2 owes you $20</div>
                </div>
                <!-- Add more groups here -->
            </div>
            <button class="new-group-button" style="margin-top: 20px;">Create New Group</button>
        </div>
    </div>
</body>
</html>